$primaryColor: rgb(31, 31, 31);
$secondColor: rgba(116,106,255,1);
$taskBoxShadowColor: rgba(168, 139, 235, .4);


$lightPrimaryColor: #EDD2F3;
$lightSecondColor: #111;
$lightTextColor: rgba(1, 1, 1, 0.6);
$lightTaskBoxShadowColor: rgba(101, 58, 150, .6);
