::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #a88beb;
}

::-webkit-scrollbar-thumb:hover {
  background: #9279cc;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-moz-selection {
  background: #605080;
  color: #FFF;
}

::selection {
  background: #605080;
  color: #FFF;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
  height: 100vh;
}

.body-theme {
  background-color: #0e0e0e;
}

.dark-theme {
  background-color: #EDD2F3;
}

.dark-theme ::-webkit-input-placeholder {
  color: #a88beb;
  opacity: .3;
}

.dark-theme :-ms-input-placeholder {
  color: #a88beb;
  opacity: .3;
}

.dark-theme ::-ms-input-placeholder {
  color: #a88beb;
  opacity: .3;
}

.dark-theme ::placeholder {
  color: #a88beb;
  opacity: .3;
}

.dark-theme .navbar {
  background-color: #EDD2F3;
}

.dark-theme .container {
  background-color: #EDD2F3;
}

.dark-theme .container .header h1 {
  color: rgba(1, 1, 1, 0.6);
}

.dark-theme .container .tasks, .dark-theme .container .newTask {
  background-color: #EDD2F3;
}

.dark-theme .container .newTask input {
  color: #a88beb;
}

.dark-theme .container .newTask button {
  color: #a88beb;
}

.dark-theme .container .newTask button:hover {
  color: #EDD2F3;
}

.dark-theme .task .taskName {
  color: #a88beb !important;
}

.dark-theme .task .delete .iconify {
  color: #a88beb;
}

.dark-theme .task .delete:hover .iconify {
  color: #EDD2F3 !important;
}

.dark-theme .completed {
  color: rgba(1, 1, 1, 0.6);
}

.dark-theme .toast-error, .dark-theme .toast-info {
  background-color: rgba(1, 1, 1, 0.6);
}

.dark-theme .toast-progress {
  background: #a88beb;
}

.navbar {
  background-color: #0e0e0e;
  -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.15);
  -webkit-transition: .3s;
  transition: .3s;
  position: fixed;
  width: 100%;
  height: 5%;
  top: 0;
  z-index: 5;
}

.navbar .change-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 35px;
}

.navbar .change-theme i {
  font-size: 25px;
  margin-right: 20px;
  cursor: pointer;
  color: var(--textColor);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #a88beb;
}

.navbar .change-theme i:hover {
  opacity: .5;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.container {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #0e0e0e;
  border-radius: 92%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  padding: 30px 40px;
  min-width: 450px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 30px 0;
}

.container .header h1 {
  letter-spacing: 5px;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

.container .newTask {
  position: relative;
  border-radius: 46px;
  background: #0e0e0e;
  padding: 30px 20px;
  border-radius: 5px;
}

.container .newTask input {
  position: relative;
  width: 70%;
  height: 45px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 15px;
  border-radius: 5px;
  background: transparent;
  border: 1px solid rgba(168, 139, 235, 0.5);
  padding: 12px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  margin: 0 10px;
}

.container .newTask input:focus {
  outline: none;
  border-color: rgba(168, 139, 235, 0.8);
}

.container .newTask button {
  position: relative;
  width: 20%;
  height: 45px;
  border-radius: 5px;
  border: none;
  font-family: 'Fira Sans', sans-serif;
  border: 1px solid rgba(168, 139, 235, 0.5);
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  -webkit-transition: ease background-color .5s;
  transition: ease background-color .5s;
}

.container .newTask button:hover {
  background-color: #a88beb;
  -webkit-transition: ease background-color .5s;
  transition: ease background-color .5s;
}

.container .tasks {
  position: relative;
  background: #111;
  -webkit-box-shadow: 3px 3px 105px rgba(168, 139, 235, 0.4), -3px -3px 105px transparent;
          box-shadow: 3px 3px 105px rgba(168, 139, 235, 0.4), -3px -3px 105px transparent;
  padding: 30px 20px;
  margin-top: 60px;
  border-radius: 10px;
  width: 100%;
  max-height: 410px;
  overflow-y: scroll;
}

.container .task {
  background: transparent;
  height: 50px;
  padding: 5px 10px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(168, 139, 235, 0.5);
  cursor: pointer;
}

.container .task .taskName {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
}

.container .task .iconify {
  font-family: 'Fira Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.container .task button {
  background: transparent;
  border: 1px solid #a88beb;
  color: #fff;
  height: 100%;
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.container .task button:hover {
  background: #a88beb;
}

.completed {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  color: #c1c1c1;
}

.toast-error, .toast-info {
  background-color: #0e0e0e;
}

.toast-progress {
  background: #a88beb;
}
/*# sourceMappingURL=style.css.map */